<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments :: html_head"></head>

<body id="page-top">
    <div id="wrapper">
    
        <nav th:replace="fragments :: left_nav">
         </nav>
         
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
            
                <nav th:replace="fragments :: centered_nav">
                </nav>
                
            <div class="container-fluid"   id="containerMainInInteret" th:fragment="mainContainerInInteret">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-dark mb-0" id="membre-title">Interet par membre</h3>
                </div>
                <script th:inline="javascript">                
                
					  var pag=(function pages(){ var p=[[${pages}]]; return p ;}());											                
					  var errorList=(function errors(){ var error=[[${errorList}]];  return error; }());
					  
					  $(document).ready(function(){
						  $("#pageSize").val([[${currentSize}]]);			                    
					  })
									                  
				</script>
                
                <!-- Start: Chart -->
                <div class="row" >
                    <div class="col">
                        <div class="card shadow mb-12" id="card-center">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class="text-primary font-weight-bold m-0">Liste des&nbsp; interets par membres</h6>
                                <div class="dropdown no-arrow">
	                                <button class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">
	                                	<i class="fas fa-ellipsis-v text-gray-400"></i>
	                                </button>
	                                 <div class="dropdown-menu shadow dropdown-menu-right animated--fade-in">
	                                        <p class="text-center dropdown-header">dropdown header:</p>
	                                        <a class="dropdown-item" style="cursor:pointer;font-size:17px" id="exportInPdf" onclick="actions(exportInPdf)">Exporter en PDF </a>
	                                        <!--<a class="dropdown-item" href="#">&nbsp;Another action</a>
	                                        <div class="dropdown-divider"></div>
	                                        <a class="dropdown-item" href="#">&nbsp;Something else here</a>-->
	                                  </div>
                                </div>
                            </div>
                            <div class="jumbotron jumbot" style="height: -100px;padding: 3px;"></div>
                            <div class="card-body" id="card-member" style="margin: 0px;padding: 10px;">
                                <div class="row" id="search-row">
                                    <div class="col-md-4 text-nowrap">
                                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                        <label>Show&nbsp;<select class="form-control form-control-sm custom-select custom-select-sm" id="pageSize" th:onclick="javascript:pageSize()" >
	                                        <option value="5" >5</option>
	                                        <option value="10">10</option>
	                                        <option value="15">15</option>
	                                        <option value="20">20</option>
                                        </select>&nbsp;</label></div>
                                    </div>
                                    <div class="col-md-4 text-nowrap">
                                         <button id="opera-button" onclick ="historiqueOpera()" class="btn btn-primary col " style="height:32px;width: 260px;margin-left:7px;font-style:italique;padding:0px;font-weight:bold" >Voir l'historique des operations</button>                                        
                                    </div>
                                    <div class="col-md-4">
                                        <div class="text-md-right dataTables_filter form-group row" id="dataTable_filter"  style="height:35px;width: 300px; position:absolute;right:5%">
                                              <input  type="text" id="keyWord"  name="keyWord" th:value="${keyWord}" class="form-control form-control-sm col" aria-controls="dataTable" placeholder="Search by matricule">
                                              <button id=searcher onclick ="searcherInInteret()" class="btn btn-primary col " style="height:32px;width: 120px;margin-left:7px;font-style:italique;padding:0px;font-weight:bold" >Chercher</button>                                        
                                        
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive" id="table-member" >
                                    <table class="table">
                                        <thead>
                                            <tr id="tab-header">
                                                <th style="width: 1px;padding: 0px;font-size: 15px;"></th>
                                                <th>Nom</th>
                                                <th >Matricule</th>
                                                <th >Interet du membre</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="element:${lst}">
                                                 <td style="padding: 12px;width: 36px;">
                                                    <input th:value="${element.get(0)}"  th:onclick="javascript:isCheckedInInteret([[${element.get(0)}]],[[${lst}]]);" type="radio">                                                
                                                </td> 
                                                <td  th:text="${element.get(1)}" ></td>
                                                <td  th:text="${element.get(2)}" ></td>
                                                <td  th:text="${element.get(3)+' $'}" ></td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                                
                                <div class="table-responsive" >
                                    <table class="table" id="tableMember" >
                                        <thead>
                                            <tr >                                              
                                                <th >Id</th>                                        
                                                <th >Operation effectuee</th>
                                                <th >date</th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody >
                                            <tr th:each="element:${lstOpera}"  >
                                                 <td  th:text="${element.get(0)}"></td>
                                                 <td  th:text="${element.get(1)}"></td>                                                         
                                                 <td  th:text="${element.get(2)}"></td>
                                               
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                                
                                <div class="jumbotron jumbot"></div>
                            </div>
                        </div>
                        
                         <div  th:fragment="pagination_card"  id="card-center-1" class="card shadow mb-12">
                            <div id="div-total">
                                <div class="d-inline" id="total-content" style="width:320px">
                                    <p class="d-inline" id="title-total">TOTAL :&nbsp;</p><button class="btn btn-primary" id="button-total" type="button" style="padding-bottom: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px;">[[${totalInteretNet+" $"}]]</button></div>
                            </div>
                            <div class="card-body" id="card-bottom-body">
                                <div class="row">
                                    <div class="col-md-2 align-self-center">
                                        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 5 of 8</p>
                                    </div>
                                    <div class="col-md-10">
                                        <nav th:replace="fragments :: safePagination" >                                    
       								   </nav>
       								   
                                       <nav th:replace="fragments :: safePagination2" >                                    
       								   </nav>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                   
                   
                    </div>
                </div>
                <!-- End: Chart -->
            </div>
        </div>
       <footer th:replace="fragments :: html_footer">
       
       </footer>
    </div>
    </div>
    <div  id="floating-button-interet" class="btn-group-fab"  role="group" aria-label="FAB Menu" >
	<div>
		<button type="button" id="withDraw"  onclick="setTheWithDrawerInInteret()" data-toggle="modal" data-target="#interetModal" class="btn btn-main btn-primary has-tooltip" data-placement="left" title="Retrait"><i class="fa fa-money"></i></button>

		<!--<button type="button"  id="addBtnInContrib" onclick="setVariableAddInContrib()"  data-toggle="modal" data-target="#contribAddModal" class="btn btn-sub btn-info has-tooltip" data-placement="left" title="Ajouter"><i class="fa fa-plus"></i></button>
		<button type="button" id="updateBtnInContrib"  onclick="setVariableUpdateInContrib(idValue)"  data-toggle="modal" data-target="#contribAddModal" class="btn btn-sub btn-danger has-tooltip" data-placement="left" title="Mettre a jour"><i class="fa fa-refresh"></i></button>

		<button type="button" id="deleteBtnInContrib"  onclick="setVariableDeleteInContrib()"  class="btn btn-sub btn-warning has-tooltip" data-placement="left" title="Effacer"><i class="fa fa-remove"></i></button> -->
	</div>
  </div> 
    
    
    
    
       <div class="modal fade"  id="interetModal" role="dialog" tabindex="-1">
    <div id="modal-id" style="max-width:580px;max-height:600px" class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> </h4></div>
            <div class="modal-body">
                
               
    <div class="card" id="card-id" style="height: auto;">
        <div class="card-body" id="main-card-body">
            <div id="div-after-card-body">
                <div id="input-div" class="p-5" style="padding: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;">
                    <div class="text-center" id="main-div">
                        <h4 class="text-dark mb-4"> Operation: Retirer de l'argent</h4>
                    </div>
                    <form id="main-form-contrib" class="user">
                        
                           <div class="form-group row" >
	                             <p style="margin-right:10px;margin-left:20%;font-size:20px;font-style:italique" id="name"> <p>
	                             <p style="margin-left:15px;font-size:20px; font-style:italique" id="matr">  </p>
                           </div>
                           
                            <div  class="col-sm-12 col-md-12 all-col all-col-right" style="width:300px;margin-left:130px;margin-bottom:20px">
                            	<input  type="text" class="form-control form-control-user-right" id="montant-retrait-field" placeholder="Montant a retirer" name="MontantRetrait" />
                            </div>
                        
                    </form>
                    <div class="text-center" id="div-button">
                        <div class="form-group d-flex flex-column align-items-center" id="form-btn">
	                        <button id ="withDrawButtonInInteret" class="btn btn-primary btn-block text-white btn-user btn-save" type="submit">Retirer</button>
	                        
	                        <button  class="btn btn-primary btn-block text-white btn-user btn-close" type="submit"  data-dismiss="modal">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
            
            <div  class="modal-footer"></div>
        </div>
    </div>
</div>
    
    
    
    
    <script src="assets/js/jquery.min.js?h=89312d34339dcd686309fe284b3f226f"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js?h=0168f7c1e0d08faa2f4b13f4a1dc8c98"></script>    
    <script src="assets/js/script.min.js?h=9b20e2f15b170d8c8330230170292640"></script>
    
    <script  th:inline="javascript" > 
        

    var mainList;
    document.querySelector("#tableMember").style.display="none";
    document.querySelector("#table-member").style.display="block";
    var toggle=false;    
    var idValue=-10;
    var matric;
    var currentTable="interet"
      
      
    function actions(type){
       	
     	 $(document).ready(function(){
     		 
    		 		   var keyWord=$("#keyWord").val()==''?"all":$("#keyWord").val()   		 		
      		           var w=window.open("http://localhost:8080/interet/interetGeneratePDF/"+currentTable+"/"+keyWord, "_blank");    		 		
    		 		   setTimeout(function(){
    		 			   
    		 			 //var a = w.document.createElement('A');
    					 //var filePath = w.location.href;
    					 // a.href = filePath;
    					 // a.download = filePath.substr(filePath.lastIndexOf('/') + 1);
    					 // w.document.body.appendChild(a);
    					  //a.click();
    					  //w.document.body.removeChild(a);
    		 			   
    		 		   },600)
   				 
     	 })
     	 
     	 
      }     
      
 
      function errorFonction() {
          if(typeof errorList !='undefined' && errorList.length>0 && errorList != null ){
             var messages="";
             console.log("===>",errorList);
             errorList.forEach((item,index)=>{messages+=item+"\n"; })
                           		
             alert(messages);
                           		
  	}	
                              
    }       
      
      
      
      
      
      $(document).ready(function(){
     	 
     	 $(".pagin1").show();
     	$(".pagin2").hide();
     	 
     	 
      })
      
                      
    
    
    function isCheckedInInteret(x,list)   {
    	idValue=x;    
    	console.log("========"+x);
    	mainList=list;    
    	console.log("====Main List====");
	 
 }  
    
    
    function historiqueOpera()   {
    	
    	
    	
    	if(toggle){
    		
    		currentTable="interet";
    		$("#table-member").show();
    		$("#tableMember").hide();
    		$("#opera-button").text("Voir l'historique des operations")
    		$(".pagin1").show();
    		$(".pagin2").hide();
    		$("#div-total").show();
    		$("#interet").load(location.href+ " #interet");	
    		$("#div-total").load(location.href+ " #div-total");
    		$("#floating-button-interet").show();
    		
    	}
            if(!toggle){
            	
            currentTable="operations";
    		$("#table-member").hide();
    		$("#tableMember").show();
    		$("#div-total").hide();
    		$("#opera-button").text("Voir interet par Membre")
    		$(".pagin1").hide();
    		$(".pagin2").show();
    		$("#floating-button-interet").hide();
    		
    		
    	}
            
            toggle=!toggle;
            
            
	 
 }  
   // Page Size 
    
    function pageSize()	{
    	$(document).ready(function(){
    	       
            // Pagination
    	     console.log("Call",$("#pageSize").val(),);
    	     
       		 $("#pageSize").on('change',function(){
       			 
       			 
       			 
       			$.ajax({
      				 url:"http://localhost:8080/interetSearcher",
      				 type:"post",
      				 data:{
      					 
      					 keyWord:$("#keyWord").val(),
      					 pagination:$("#keyWord").val()==""? true:false,
      					 size:$("#pageSize").val(),
      				      },
      		 
      		        success: function(data){
      		       	
      		        			   $("#containerMainInInteret").html(data);  
      		        	           if(currentTable=="interet"){
      		        	        	   
	      		        	        	 $("#table-member").show();
	      		          		         $("#tableMember").hide();
	      		          		         $("#div-total").show() ;
		      		          		     $(".pagin1").show();
			 	                    	 $(".pagin2").hide();
      		        	           }else{
      		        	        	   
	      		        	        	 $("#table-member").hide();
	      		          		         $("#tableMember").show();
	      		          		         $("#div-total").hide();
		      		          		     $(".pagin1").hide();
			 	                    	 $(".pagin2").show();
      		        	           }
      		        	                              	       
	                    	       $("#div-total").load(location.href+ " #div-total");	                    	      
      		        	           console.log("Tout s'est bien passe");
      		        	           errorFonction(); 
      		        	
      		                      },        		          
      		          error: function(error){
			       		        	$(".pagin1").show();
			                   	    $(".pagin2").hide();
			                   	    errorFonction(); 
      		        	            alert("La Pagination n'a pas reussie")
      		        	            
      		                     }
      		        } );
       			 
       			 
       		 })
       		 
 });
    	
    }  	
    	   
    
    
    
    
    
    
    function pagination1(page)   {
    
   	 $(document).ready(function(){
   	       
            // Pagination
    	     console.log("The page is ",page)
       		 $.ajax({
       				 url:"http://localhost:8080/interetSearcher",
       				 type:"post",
       				 data:{
       					 page:page,
       					 pageOpera:0,
       					 keyWord:$("#keyWord").val(),
       					 pagination:$("#keyWord").val()==""? true:false,
       					 size:$("#pageSize").val()
       				      },
       		 
       		        success: function(data){
       		       	
       		        	           $("#containerMainInInteret").html(data);   
       		        	           $("#table-member").show();
     		          		       $("#tableMember").hide();
     		        	           $("#div-total").show() ;	                    	       
	                    	       $("#div-total").load(location.href+ " #div-total");
	                    	       $(".pagin1").show();
	 	                    	   $(".pagin2").hide();
       		        	           console.log("Tout s'est bien passe");
       		        	           errorFonction(); 
       		        	
       		                      },        		          
       		          error: function(error){
			       		        	$(".pagin1").show();
			                   	    $(".pagin2").hide();
			                   	    errorFonction(); 
       		        	            alert("La Pagination n'a pas reussie")
       		        	  
       		                     }
       		        } );
       		 
       	            });  
   	
	 
}   
    
    function pagination2(page)   {
        
      	 $(document).ready(function(){
      	       
               // Pagination
       	        
          		 $.ajax({
          				 url:"http://localhost:8080/interetSearcher",
          				 type:"post",
          				 data:{
          					 page:0,
          					 pageOpera:page,
          					 keyWord:$("#keyWord").val(),
          					 pagination:$("#keyWord").val()==""? true:false,
          					 size:$("#pageSize").val()
          				      },
          		 
          		        success: function(data){
          		       	
          		        	
         		        	     $("#containerMainInInteret").html(data);           		        	           
         		        	     $("#table-member").hide();
      		          		     $("#tableMember").show();
      		        	         $("#div-total").hide() ;   	                    	       
   	                    	     $("#div-total").load(location.href+ " #div-total");	                    	     
   	                    	     $(".pagin2").show();
	                    		 $(".pagin1").hide();
	                    		 $("#opera-button").text("Voir interet par Membre")
          		        	     console.log("Tout s'est bien passe");
	                    		 errorFonction(); 
          		              },        		          
          		          error: function(error){
          		        	     $(".pagin2").show();
                   		         $(".pagin1").hide();
          		        	     alert("La Pagination n'a pas reussie")
          		        	     errorFonction(); 
          		          }
          		  } );
          		 
         });
      	 
      					
   	 
   }    
    
    
    function searcherInInteret()   {
    	
    	 $(document).ready(function(){
    	       
             // Search by matricule
             
        	 
        		 $.ajax({
        				 url:"http://localhost:8080/interetSearcher",
        				 type:"post",
        				 data:{
        					 keyWord:$("#keyWord").val(),
        					 size:$("#pageSize").val()
        				      },
        		 
        		        success: function(data){
        		       	
 	                    	      
 	                    	    if(!toggle){
 	                    	    	
 	                    	    	$("#containerMainInInteret").html(data); 
 	                    	    	$("#div-total").load(location.href+ " #div-total");
 	                    	    	$("#div-total").show() ;
 	                    	    	$("#table-member").show();
 	                    	    	$("#tableMember").hide();
 	                    	    	$(".pagin1").show();
 	                    		    $(".pagin2").hide();
 	                    		   
 	                    		
 	                    	    }else if(toggle){
 	                    	    	
 	                    	    	$("#containerMainInInteret").html(data); 
 	                    	    	$("#div-total").load(location.href+ " #div-total");
 	                    	    	$("#div-total").hide() ;
 	                    	    	$(".pagin1").hide();
 	                    		    $(".pagin2").show();
 	                    		    $("#table-member").hide();
	                    	    	$("#tableMember").show();
	                    	    	
 	                    	    	
 	                    	    }
 	                    	   
        		        	   console.log("Tout s'est bien passe");
        		        	   errorFonction(); 
        		        	
        		      },        		          
        		          error: function(error){
        		        	  
        		        	     $(".pagin1").show();
	                    		 $(".pagin2").hide();
	                    		 errorFonction(); 
        		        	     alert("L'operation de  recherche a echouee"+error);
        		        	  
        		                     }
        	 } );
        		 
         });  
    	
	 
 }   
    //Retrait

    function  setTheWithDrawerInInteret()   {
  		  
  	         $(document).ready(function(){
  	        	 
  	        	//Update Button
   	            
                	       var list=mainList;  	        	           
                	       list.forEach(function(element){ 
                	    	   
                	    	    if(element[0]==idValue){
                	    	    	
                	    	    	$("#name").text("Nom : "+element[1]);
                	    	    	$("#matr").text("Matricule : "+element[2]);
                	    	    	matric=element[2];
                	    	    	console.log( "======"+element[2]);
                	    	    	
                	    	    	
                	    	     }
                	    	
                	       });
       	    	    	       console.log( "======"+idValue);

                	    	   $("#withDrawButtonInInteret").unbind("click").click( function(){   
                            	   console.log("Salut tout le monde in With Draw");
                    	    	   $.ajax({
                      				 url:"http://localhost:8080/withDraw",
                      				 type:"post",
                      				 data:{
                      					 idWithD:  idValue,
                      					 matricule:  matric,
                     	    	    	 montantRetrait:  $("#montant-retrait-field").val(),
                     	    	    	 size:$("#pageSize").val(),
                      				      },
                      		 
                      		        success: function(data){
                      		       	               
                      		        	          $("#interetModal").modal("hide");  
                      		        	          $("#containerMainInInteret").html(data);      		        	
           	                    	              $("#div-total").load(location.href+ " #div-total");
           	                    	              $("#main-form").load(location.href+ " #main-form");
           	                    	              $("#tableMember").hide();
           	                    	              $("#table-member").show();
           	                    	              $("#montant-retrait-field").val("");
                               	    	          idValue=-10;
                               	    	          $(".pagin1").show();
                 	 	                    	  $(".pagin2").hide();
                    		        			  console.log("Tout s'est bien passe dans upda");
                    		        			  errorFonction(); 
                      		          },        		          
                      		          error: function(error){
			                      		        	$(".pagin1").show();
			       	 	                    	    $(".pagin2").hide();
			       	 	                    	    errorFonction()
                      		        	            alert("Assurez-vous que vous avez le droit d'effectuer cette operation");
                      		        	  
                      		                     }
                      		        } )  
                      		        
				                      		       $(".btn-close").click(function(){
				                      		       idValue=-10;
				                      		    		
                      		    	   
                      		       })                      		       
                	    	   
                	    	   
                	    	   });                    		 
           });
  	        	
    }
    
  
    </script>
   
</body>

</html>