<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home</title>
    <script type="text/javascript" th:src="@{assets/js/getIp.js}"></script>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css?h=5109094f4fe4d36cc6aaa13ded79fc55">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css?h=9db842b3dc3336737559eb4abc0f1b3d">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css?h=9db842b3dc3336737559eb4abc0f1b3d">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css?h=9db842b3dc3336737559eb4abc0f1b3d">
      <link rel="stylesheet" href="assets/css/styleNav.css">
    
    <link rel="stylesheet" th:href="@{assets/css/styles.min.css}">
</head>
<body>
           <nav class="navbar navbar-light navbar-expand-md fixed-top nav-classe" style="position: fixed;height:55px; background-color:rgb(78, 115, 223)" id="navbar-up">
			        <div class="container-fluid"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
			            <div class="collapse navbar-collapse" id="navcol-1">
			                <ul class="nav navbar-nav" id="up-nav">
			                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#" style="text-shadow: 1px 1px 1px rgba(200,200,200,0.5); font-weight:bold">Caisse Familia UCBC</a></li>
			                    
			                    <li class="nav-item " id="dropdown-button" style="margin-top:5px"><a th:href="@{/logout}" style="font-weight:bold;padding-top:5px">Logout</a> </li>			                       
			                     <div class="d-none d-sm-block topbar-divider"></div>
                            
	                            <!--  <li class="nav-item dropdown no-arrow">
	                                <div class="nav-item dropdown no-arrow">
	                                	<a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">
	                                		<span class="d-none d-lg-inline mr-2 text-gray-600 small">Israel tsongo</span>
	                                		<img class="border rounded-circle img-profile" src="assets/img/avatars/avatar3.jpeg?h=c5166867f10a4e454b5b2ae8d63268b3">
	                                	</a>
	                                    <div  class="dropdown-menu shadow dropdown-menu-right animated--grow-in"><a class="dropdown-item" href="#"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" href="#"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Vos Parametres</a>
		                                        <a class="dropdown-item" href="#"> <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Vos Activites</a>
		                                            <div class="dropdown-divider"></div>
		                                        <a class="dropdown-item" th:href="@{/logout}" ><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400" ></i>&nbsp;Logout</a>
	                                     </div>
	                                </div>
                                </li>-->
                                
			                </ul>
			            </div>
			        </div>
   		  </nav>
   		  <div class="d-flex justify-content-center align-items-center" style="margin-top:5rem;height:70vh">
	          <div class="row d-flex justify-content-center" style="width:auto;height:10rem" >
	            		
		            		<div class="col col-xl-12 text-center">
		            		         <form th:action="@{/loginAsAuthority}" method="post">	            		         
			            		        <button style="width:30rem "  class="btn btn-danger btn-block text-white" type="submit" th:text="${fonctionType}">Log As Gerant</button>
				                     </form>
				                     <form th:action="@{/loginAsMember}" method="post">
				                        <button style="width:30rem;margin-top:1rem;margin-bottom:1rem" class="btn btn-warning btn-block text-white" type="submit">Se logger comme membre de familia</button>
		            				</form>
		            					<a th:href="@{/logout}" style="font-weight:bold;padding-top:5px"><button style="width:30rem"  class="btn btn-primary btn-block text-white" type="button" >Logout</button></a>
		            				
		            		</div>         			
	          
	          </div>
          </div>
           <footer th:replace="fragments :: html_footer">
       
           </footer>
           
           <script>
           
           
           function logAs(type)   {
           	 
          	 $(document).ready(function(){
          	       
                   // Search by matricule
                   
              	 
              		 $.ajax({
              				 url:remoteIp+"/loginAs",
              				 type:"get",
              				 data:{
              					 
              					 //logAs:type
              					 
              				      },
              		 
              		        success: function(data){ 
              		        	 
              		            },        		          
              		          error: function(error){
              		        	  
              		        	      
              		            }
              		            
              		        } );
              		 
                }); 
      	 
       }    
           
           </script>
</body>
</html>