<!DOCTYPE html>

<html  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments :: html_head">
</head>

<body id="page-top">
    <div id="wrapper">
    
         <nav th:replace="fragments :: left_nav">
         </nav>
         
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
            
                <nav th:replace="fragments :: centered_nav">
                </nav> 
                
            <div class="container-fluid"  id="containerMainInRembourse" th:fragment="mainContainerInRembourse">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-dark mb-0" id="membre-title">Remboursements</h3>
                </div>
                <script th:inline="javascript">
               
	                   var pag=(function pages(){ var p=[[${pages}]]; return p ; }());	                		   
	                   var errorList=(function errors(){ var error=[[${errorList}]];return error; }());	   

						  $(document).ready(function(){
							  $("#pageSize").val([[${currentSize}]]);			                    
						  })
	               
                </script>
                <!-- Start: Chart -->
                
                <input style="display:none;" id="Thelist" th:value="${lst}"/>
                <div class="row">
                    <div class="col">
                        <div class="card shadow mb-12" id="card-center">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class="text-primary font-weight-bold m-0">Liste des&nbsp; Remboursements</h6>
                                <div class="dropdown no-arrow">
	                                <button class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">
	                                	<i class="fas fa-ellipsis-v text-gray-400"></i>
	                                </button>
	                                 <div class="dropdown-menu shadow dropdown-menu-right animated--fade-in">
	                                        <p class="text-center dropdown-header">dropdown header:</p>
	                                        	<a class="dropdown-item" style="cursor:pointer;font-size:17px" id="exportInPdf" onclick="actions(exportInPdf)">Exporter en PDF</a>
	                                        	<!--<a class="dropdown-item" href="#">&nbsp;Another action</a>
	                                            <div class="dropdown-divider"></div>
	                                            <a class="dropdown-item" href="#">&nbsp;Something else here</a>  -->
	                                  </div>
                                </div>
                            </div>
                            <div class="jumbotron jumbot" style="height: -100px;padding: 3px;"></div>
                            <div class="card-body" id="card-member" style="margin: 0px;padding: 10px;">
                                <div class="row" id="search-row">
	                                    <div class="col-md-4 text-nowrap">
	                                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
	                                        <label>Show&nbsp;
	                                        <select class="form-control form-control-sm custom-select custom-select-sm" id="pageSize" th:onclick="javascript:pageSize()">
			                                        <option value="5" selected >5</option>
			                                        <option value="10">10</option>
			                                        <option value="15">15</option>
			                                        <option value="20">20</option>	                                        
	                                        </select>&nbsp;</label>
	                                        </div>
	                                    </div>
	                                    <div class="col-md-4 text-nowrap">
                                              <button id=""  th:onclick="montantARembourser([[${lst}]]);" class="btn btn-primary col " style="height:32px;width: 210px;margin-left:7px;font-style:italique;padding:0px;font-weight:bold" >Montant a rembourser</button>                                        
                                         </div>
                                          <div class="col-md-4 text-nowrap">
	                                        <div class="text-md-right dataTables_filter form-group row" id="dataTable_filter"  style="height:35px;width: 300px; position:absolute;right:7%">
	                                              <input  type="text" id="keyWord"  name="keyWord" th:value="${keyWord}" class="form-control form-control-sm col" aria-controls="dataTable" placeholder="Search by matricule">
	                                              <button id=searcher onclick ="searcherInRembourse()" class="btn btn-primary col " style="height:32px;width: 120px;margin-left:7px;font-style:italique;padding:0px;font-weight:bold" >Chercher</button>                                        
	                                        
	                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive" id="table-member">
                                    <table class="table">
                                        <thead>
                                            <tr id="tab-header">
                                                <th></th>
                                                <th>Nom</th>
                                                <th>Matricule</th>
                                                <th >Dette</th>
                                                <th>Remboursement</th>
                                                <th  style="max-width:200px">MontantRestant </th>
                                                <th >Echeance</th>
                                                <th >Interet</th>
                                                <th >Date payement</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="element:${lst}">
                                                
                                                <td class="text-center" style="width: 36.8px;padding: 12px;font-size: 16px;border-width: 2px;">                                                  
                                                    <input th:value="${element.get(0)}"  th:onclick="javascript:isCheckedInRembourse([[${element.get(0)}]],[[${lst}]]);" class="idMember" type="radio" name="chk" style="margin-top: 0px;">                                                                                                  
                                             </td>
                                                <td th:text="${element.get(1)}" > </td>
                                                <td  th:text="${element.get(2)}" ></td>
                                                <td  th:text="${element.get(3)+'$'}" ></td>
                                                <td  th:text="${element.get(4)+' $'}"></td>
                                                <td style="width:70px" th:text="${element.get(5)+' $'}"></td>
                                                <td  th:text="${element.get(6)}"></td>
                                                <td  th:text="${element.get(7)+' $'}"></td>
                                                <td  th:text="${element.get(8)}"></td>
                                            </tr>
                                           
                                        </tbody>
                                    </table>
                                </div>
                                <div class="jumbotron jumbot"></div>
                            </div>
                        </div>
                       
                       <div  th:fragment="pagination_card"  id="card-center-1" class="card shadow mb-12">
                           
                            <div class="card-body" id="card-bottom-body">
                                <div class="row">
                                    <div class="col-md-2 align-self-center">
                                        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 2 of 5</p>
                                    </div>
                                    <div class="col-md-10">
                                        <nav th:replace="fragments :: safePagination" >
                                    
       								   </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                  
                    </div>
                </div>
                <!-- End: Chart -->
            </div>
        </div>
        
         <footer th:replace="fragments :: html_footer">
       
         </footer>
    </div>
    </div><div class="btn-group-fab"  role="group" aria-label="FAB Menu" >
	<div>
		<button type="button"  class="btn btn-main btn-primary has-tooltip" data-placement="left" title="Menu"><i class="fa fa-bars"></i></button>
		<button type="button"    id="addBtnInRembourse" th:onclick="javascript:setVariableAddInRembourse([[${pages}]]);" data-toggle="modal" data-target="#rembAddModal" class="btn btn-sub btn-info has-tooltip" data-placement="left" title="Ajouter"><i class="fa fa-plus"></i></button>
		<button type="button"    id="updateBtnInRembourse" onclick="setVariableUpdateInRembourse(idValue)" data-toggle="modal" data-target="#rembAddModal" class="btn btn-sub btn-danger has-tooltip" data-placement="left" title="Mettre a jour"><i class="fa fa-refresh"></i></button>
		<button type="button"     id="deleteBtnInRembourse" onclick="setVariableDeleteInRembourse()"  class="btn btn-sub btn-warning has-tooltip" data-placement="left" title="Effacer"><i class="fa fa-remove"></i></button>
	    
	</div>
</div> 

<div class="modal fade"  id="rembAddModal" role="dialog" tabindex="-1">
    <div id="modal-id" style="max-width:580px" class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> </h4></div>
            <div class="modal-body">
                
               
    <div class="card" id="card-id" style="height: auto;">
        <div class="card-body" id="main-card-body">
            <div id="div-after-card-body">
                <div id="input-div" class="p-5" style="padding: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;">
                    <div class="text-center" id="main-div">
                        <h4 class="text-dark mb-4">Ajouter un Remboursement</h4>
                    </div>
                    
                    <form id="main-form" class="user">
                        
                        <div class="form-group row all-forms" style="width: 525px;">
                            <div class="col-auto col-sm-6 d-flex justify-content-end mb-3 mb-sm-0 all-col-left" style="padding-left: 0px;padding-right: 0px;width: 327px;">
                                  <input type="text" class="form-control form-control-user-left" id="rembourse-matricule-field" placeholder="Matricule" name="rembourse-matricule" />
                            </div>
                            <div class="col-sm-6 all-col all-col-right" style="padding-right: 0px;padding-left: 0px;">
                                 <input type="text" class="form-control form-control-user-right" id="rembourse-field" placeholder="Remboursement" name="remboursement" />
                            </div>
                        </div>
                        
                    </form>
                    <div class="text-center" id="div-button">
                        <div class="form-group d-flex flex-column align-items-center" id="form-btn">
	                        <button   id="addButtonInRembourse" class="btn btn-primary btn-block text-white btn-user btn-save" type="submit">Ajouter</button>
	                        <button  id="updateButtonInRembourse" class="btn btn-primary btn-block text-white btn-user  " type="submit">Modifier</button>
	                        <button class="btn btn-primary btn-block text-white btn-user btn-close" type="submit" data-dismiss="modal">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
            
            <div  class="modal-footer"></div>
        </div>
    </div>
</div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/script.min.js"></script>
    
    <script  th:inline="javascript" > 
    
    
          var idValue=-10;
          var mainList;
                         
  function errorFonction() {
	  
	   if(typeof errorList !='undefined' && errorList.length>0 && errorList != null ){
			var messages="";
			console.log("===>",errorList);
			errorList.forEach((item,index)=>{messages+=item+"\n"; })
			
			alert(messages);
			
	   	}	
   
  }
  
  
  
  function actions(type){
	  
	  			 var keyWord=$("#keyWord").val()==''?"all":$("#keyWord").val()	   
			     var request = new XMLHttpRequest();	
			     request.open("POST","http://localhost:8080/rembourse/generatePDF/",true)
			     request.responseType='blob';
			     request.onload=function(e){
			    	 
			    	 if(this.status===200){
			    		 	    		 
			    		 var file=window.URL.createObjectURL(this.response)
			    		 var w= window.open(file,"_blank")
			    		 var a=w.document.createElement("a");
			    		 a.href=file;	    		 
			    		 a.download=this.response.name || "remboursement"
			    		 w.document.body.appendChild(a)
			    		 a.click()
			    		 w.onfocus=function(){
			    			 w.document.body.removeChild(a)
			    		 }
			    		 
			    	 }
			     }
			     
			    var data= new FormData();
			    data.append('keyWord',keyWord)
			    request.send(data)
	  
	 
  }
  
                         
    
    
    function isCheckedInRembourse(x,list)   {
    	idValue=x;    
    	mainList=list;
    	console.log("========"+x);
	 
 }  
    
    function pagination1(page)   {
    
   	 $(document).ready(function(){
   	       
            // Pagination
          
            
    	  console.log("pagination rembourse");
       		 $.ajax({
       				 url:"http://localhost:8080/rembourseSearcher",
       				 type:"post",
       				 data:{
       					 page:page,
       					 keyWord:$("#keyWord").val(),
       					 pagination: $("#keyWord").val()==""? true:false,
       					 size:$("#pageSize").val(),
       				      },
       		 
       		        success: function(data){
       		       	
       		        	          $("#containerMainInRembourse").html(data);     		        	
	                    	      $("#div-total").load(location.href+ " #div-total");	                    	     
	                    	      console.log("Pagination reussie");
	                    	      errorFonction(); 
	                    	      
       		                      },        		          
       		          error: function(error){
       		        	         errorFonction(); 
       		        	         alert("La Pagination n'a pas reussie")
       		        	  
       		                     }
       		        } );
       		 
       	            });  
   	
	 
}  
    
    
// Page Size 
    
    function pageSize()	{
    	$(document).ready(function(){
    	       
            // Pagination
    	     console.log("Call",$("#pageSize").val(),);
    	     
       		 $("#pageSize").on('change',function(){
       			 
       			 
       			 
       			$.ajax({
      				 url:"http://localhost:8080/rembourseSearcher",
      				 type:"post",
      				 data:{
      					 
      					 pageOpera:0,
      					 keyWord:$("#keyWord").val(),
      					 pagination:$("#keyWord").val()==""? true:false,
      					 size:$("#pageSize").val(),
      				      },
      		 
      		        success: function(data){
      		       	
      		        	
		        	     $("#containerMainInRembourse").html(data);
                	     $("#div-total").load(location.href+ " #div-total");
      		        	 console.log("Tout s'est bien passe");
      		        	errorFonction(); 
      		             },        		          
      		          error: function(error){
			       		        	
      		        	errorFonction(); 
      		        	  alert("La select error ")
      		        	  
      		             }
      		        } );
       			 
       			 
       			 
       			 
       		 })
       		 
 });
    	
    }  	
    	   
    
    
    
    
    function searcherInRembourse()   {
    	
    	 $(document).ready(function(){
    	       
             // Search by matricule
             
        	 
        		 $.ajax({
        				 url:"http://localhost:8080/rembourseSearcher",
        				 type:"post",
        				 data:{
        					 keyWord:$("#keyWord").val(),
        					 size:$("#pageSize").val(),
        				      },
        		 
        		        success: function(data){
        		       	
        		        	     $("#containerMainInRembourse").html(data);     		        	
 	                    	     $("#div-total").load(location.href+ " #div-total");        		            
        		        	     console.log("Tout s'est bien passe");
        		        	
        		           },        		          
        		        error: function(error){
        		        	  
        		        	      alert("L'operation de  recherche a echouee"+error);
        		        	      errorFonction(); 
        		                
        		           }
        		        } );
        		 
        	            });  
    	
	 
 }    
    
    	function setVariableDeleteInRembourse(){ 
    	

        $(document).ready(function(){
       
            // Delete Button
            
       	  
       		 
       		 $.ajax({
       				 url:"http://localhost:8080/deteteRembourse",
       				 type:"post",
       				 data:{
       					 idRemb:idValue,
       					 size:$("#pageSize").val(),
       				      },
       		 
       		        success: function(data){
       		       	
       		        	       console.log("===="+data);
       		                   $("#containerMainInRembourse").html(data);        		        	
	                    	   idValue=-10;
	                    	   $("#div-total").load(location.href+ " #div-total");
       		        	       console.log("Tout s'est bien passe");
       		        	       errorFonction(); 
       		           },        		          
       		        error: function(error){
       		        	       errorFonction(); 
       		        	       alert("Echec d'effacement /n Assurez-vous que vous avez le droit d'effectuer cette operation");
       		         }    
       		  
       		 } );
       		 
        });  	             
       	    
   	
    	
    }
    	function montantARembourser(list){
    		
    		 var list =list;
  	         list.forEach(function(element){ 
  	    	   
  	    	    if(element[0]==idValue){
  	    	    	
      	    	    	console.log( "From dataBase "+element[0]);
      	    	    	console.log( "From View "+idValue);	            	    	    	 
      	    	    	alert("Montant a Rembourser pour  la prochaine Echeance est " +element[9]);           	    	    	      	    	    	
  	    	    	
  	   	
  	    	          }
  	    	
  	       });
    		
    		//idValue=-10;
    	}
          
       
       // ADD
         
          function  setVariableAddInRembourse(pages)   {
        	       	
        	         idValue=-10;
        	       	document.querySelector("#updateButtonInRembourse").style.display="none";
        	       	document.querySelector("#addButtonInRembourse").style.display="block";
        	       	
        	       	
        	       	$(document).ready(function(){ 
        	       		
        	           $("#rembourse-matricule-field").val("");
 	    	    	   $("#rembourse-field").val(""); 	    	    	 
        	       	   console.log("Add Method");
        	       	   $("#addButtonInRembourse").unbind("click").click( function() { 
        	       	   console.log(" Up Ajax Add Method");
                    		 
                    		 $.ajax({
                    				 url:"http://localhost:8080/remboursePost",
                    				 type:"post",
                    				 data:{
                    					 
                    					  matricule  :   $("#rembourse-matricule-field").val(),
             	    	                  remboursement :  $("#rembourse-field").val(),
             	    	                  page:((pag.length-1) <= 0) ? 0:(pag.length-1),
             	    	                  size:$("#pageSize").val(),
                    				      },
                    		 
                    		        success: function(data){
                    		        	
                    		        	    $("#containerMainInRembourse").html(data);       		        	
             	                    	    $("#rembAddModal").modal("hide");
             	                    	    idValue=-10;
             	                    	    $("#div-total").load(location.href+ " #div-total");
             	                    	    console.log("Add Method output");
             	                    	    errorFonction(); 
                      	    	    	
                    		         },       
                    		                      
                    		          error: function(error){
                    		        	  errorFonction(); 
                    		        	  alert(" Erreur du cte serveur lors du remboursement /n Assurez-vous que vous avez le droit d'effectuer cette operation");
                    		        	  
                    		            }
                    		        } );
                    		       
                    		 
		                    		 $(".btn-close").click(function(){		              		    	   
		              		    	 idValue=-10;
		              		    	 $("#rembourse-matricule-field").val("");
                  	    	    	 $("#rembourse-field").val("");
		              		    	   
              		       })
                   		
         });
        	             	
        	       		
        	       		
      })
        	       	
        	       	
        	       	
     }
         
          function  setVariableUpdateInRembourse(idValue)   {
        		  
        	        document.querySelector("#addButtonInRembourse").style.display="none";
        	        document.querySelector("#updateButtonInRembourse").style.display="block"; ;
        	        console.log("Update Method");
        	        $(document).ready(function(){
        	        	 
        	        	//Update Button
         	            
                      	       var list =mainList;
                      	       list.forEach(function(element){ 
                      	    	   
                      	       if(element[0]==idValue){
                      	    	   
                      	    	    	console.log( "From dataBase "+element[0]);
                      	    	    	console.log( "From View "+idValue);
                      	    	    	$("#rembourse-matricule-field").val(element[2]);
                      	    	    	$("#rembourse-matricule-field").prop('disabled',true);
                      	    	    	$("#rembourse-field").val(element[4]);
                      	    	    	
                      	    	 }
                      	    	
                      	       });
                      	    	   $("#updateButtonInRembourse").click( function(){   
                                  	   console.log("Salut tout le monde in Update");
                          	    	   $.ajax({
                            				 url:"http://localhost:8080/updateRembourse",
                            				 type:"post",
                            				 data:{
                            					 
                           					      id: idValue,                            					      
                           					      matricule:   $("#rembourse-matricule-field").val(),
                         	    	              rembourse:  $("#rembourse-field").val(),
                         	    	              size:$("#pageSize").val(),
                            				      },
                            		 
                            		        success: function(data){
                            		       	
                        		        	        $("#containerMainInRembourse").html(data);      		        	
             	                    	            $("#rembAddModal").modal("hide");  
             	                    	            $("#div-total").load(location.href+ " #div-total");
             	                    	            $("#main-form").load(location.href+ " #main-form");
                                   	    	        idValue=-10;
                                       	    	    $("#rembourse-matricule-field").val("");
                                   	    	    	$("#rembourse-field").val("");
                            		        	    console.log("Tout s'est bien passe dans upda");
                            		        	    errorFonction(); 
                            		         },        		          
                            		          error: function(error){
                            		        	  
                            		        	  alert("L'operation Modification a echouee /n Assurez-vous que vous avez le droit d'effectuer cette operation");
                            		        	  
                            		          }
                            	 } )  
                            		        
			                            		       $(".btn-close").click(function(){
			                            		       idValue=-10;
			                            		       $("#rembourse-matricule-field").val("");
                          	    	    	           $("#rembourse-field").val("");
                            		    	   
                            		    	   
                            		    	   
                            		       })
                            		       
                      	    	   
                      	    	   
                      	    	   });   
                     
        	        	 
        	        });
        	        	
          }
    
  
    
    </script>
   
</body>

</html>